.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.doll {
    position: relative;
    width: 100%;
    width: 100%;
}

.container-preview{
    width: 240px;
    height: 258px;
    text-align: center;
}
.layer {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease; /* 添加平滑過渡效果 */
    image-rendering: crisp-edges; /* 或使用 pixelated 根據效果需求 */
    max-width: 360px;
}

.layer-w{
    max-width: 240px;
    height: auto;
}

.buttons {
    margin-top: 20px;
    text-align: center;
    z-index: 10; /* 確保按鈕區域在較高層級 */
}
.options {
    margin-top: 20px;
}
.preview {
    width: 120px; /* 縮小圖片 */
    height: auto;
    margin: 10px;
    cursor: pointer;
    border: solid 0.5px #2a651b;
    transform: none !important; /* 確保預覽區域不會受到縮放影響 */
}
button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: #f4c542;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
#download-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f4c542;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

#previewImage {
    max-width: 80%;
    margin: 10px 0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* 懸浮視窗覆蓋整個畫面，背景半透明 */
#previewModal {
    display: none; /* 預設隱藏 */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; /* 覆蓋整個寬度 */
    height: 100%; /* 覆蓋整個高度 */
    display: flex;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */

}

/* 卡片內容：白色背景、置中顯示 */
.modal-content {
    background-color: #fff; /* 白色背景 */
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* 卡片寬度 */
    max-width: 600px; /* 最大寬度 */
    text-align: center; /* 內容置中 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 卡片陰影效果 */
    position: relative; /* 保持內部元素的相對定位 */
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

/* 標題與按鈕的內邊距調整 */
.modal-content h3 {
    margin-bottom: 20px;
}

.modal-buttons {
    margin-top: 20px;
}

/* 關閉按鈕的樣式 */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
}

#background {
    width: 240px;
    height: auto;
    top: 0;
    left: 0;
}

